<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h2>Create an Account</h2>
    
    
    <form method="post" action="../controller/SignupCheckup.php">
         
        Username: 
        <input type="text" name="username" value="" required /> <br><br>
        
         
        Password: 
        <input type="password" name="password" value="" required /> <br><br>
        
         
        Email: 
        <input type="email" name="email" value="" required /> <br><br>
        
       
        <input type="submit" name="submit" value="Submit" />
    </form>

    
    <p>Already have an account? <a href="login.html">Login here</a></p>

</body>
</html>
